<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../JS/base.js"></script>
    <link rel="stylesheet" href="../../CSS/main.css">
</head>
<body>
<div nav-include-path = "../layout/navbar.html">
    <script>LoadNAVBAR();</script>
</div>
<div class="homework_1">
    <p class="homework_1_style">과제부여하기</p>
</div>
<div class="homework_list_1">
    <img src="../../img/book-btn.png" alt="book_btn" class="book_btn"><!-- h는 헤더 alt속성이 뭐냐면 img파일이 이상하면  -->
    <h3 class="homework_list_1_style">과제 목록</h3>
</div>
<div class ="homework_box1">
        <div class="homework_txt_div">
            <div class="line1">
                <p class=homework_box_1>[과제 &nbsp; : &nbsp; 깃&nbsp;]</p>
                <p class="homework_box_2">&nbsp;&nbsp;repository 생성과 push</p>
                <p class="homework_box_3">3월 27일 월요일 19시까지</p>
            </div>
        </div>
</div>
<div class ="homework_box2">
    <div class="homework_txt_div">
        <div class="line2">
            <p class="homework_box_1">[과제 : HTML & CSS]</p>
            <p class="homework_box_2">12기 멋사 LMS 페이지 따라하기</p>
            <p class="homework_box_3">4월3일 월요일 19시까지</p>
        </div>
    </div>
</div>
<div class ="homework_box3">
    <div class="homework_txt_div">
        <div class="line3">
            <p class="homework_box_1">[과제 : JS]</p>
            <p class="homework_box_2">반응형 웹페이지 만들어보기</p>
            <p class="homework_box_3">3월 27일 월요일 19시까지</p>
        </div>
    </div>
</div>
<div class ="homework_box4">
    <div class="homework_txt_div">
        <div class="line4">
            <p class="homework_box_1">[과제 : Java]</p>
            <p class="homework_box_2">클래스 속성을 이용해서 은행계좌 만들기</p>
            <p class="homework_box_3">3월 27일 월요일 19시까지</p>
        </div>
    </div>
</div>
</body>
</html>