@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
    --color-main-black: #3e3e3e;
    --color-orange-main: #fe9519;

}
.assginment_title_div{
    width:620px;
    display: flex;
    justify-content: flex-start;
    align-items: center; /*위쪽과 아래쪽에 중간에 */
    margin: 0 auto; /*가운데정렬도와줌 0은 위아래 auto는 좌우 */
    padding-top: 20px;


}
.book_btn{
    display: flex;
    width: 35px;
    height: 35px;


}
.assginment_title{
    display: flex;
    font-family: GmarketSans;
    font-weight: normal;
    margin-left: 10px;


}


.assignment_box{
    display:flex;
    flex-direction: column;
    border: 1px solid #d9d9d9; /*회색깔 코드 */
    width: 560px;
    height: auto;
    border-radius: 8px;  /*각진거 */
    padding:30px;
    margin: 0 auto;
    margin-top: 10px; /*div랑 div사이가 마진 안속이 패딩 */




}
.assginment_txt_div{
    display: block;
    width: 560px;
    height: auto;

}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;


}
.assginment_category{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    font-size: 22px;
    font-weight: bold;
    margin: 0;


}
.assginment_deadline_date, .assginment_deadline_time{
    font-family: "Noto Sans KR";
    color: var(--color-orange-main);
    font-size: 15px;
    padding-top: 5px;
    margin: 0;

}
.line{

}
.assginment_goal{
    font-family: "Noto Sans KR";
    color: var(--color-main-black);
    font-size: 15px;
    padding-top: 5px;
    margin: 0;

}